.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1vw;
	position: relative;
	background-color: var(--background);
	color: var(--primary);
	padding: 10px;
	border-radius: 10px;
}

.buttonWrapper {
	display: flex;
	justify-content: flex-end;
	gap: 2vw;
}
