.user {
	position: relative;
	display: flex;
	background-color: var(--background);
	margin-bottom: 10px;
	border-radius: 5px;
	margin-left: 2vw;
	padding-right: 1vw;
}

.avatar {
	max-width: 7vw;
	border-radius: 50%;
	border: 1px solid var(--white);
	box-shadow: 0 0 20px var(--secondary);
	margin-left: -1.7vw;
}

.name {
	padding-left: 0.7vw;
	font-size: x-large;
	border: 2px solid var(--secondary);
	border-radius: 5px;
	box-shadow: 0 0 35px var(--primary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 35ch;
}

.status {
	margin-left: 0.7vw;
	padding: 1vw;
	font-size: medium;
	margin-bottom: 2vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50ch;
}

.location {
	position: absolute;
	right: -0.7vw;
	bottom: -0.4vw;
	background-color: var(--background);
	border-radius: 5px;
	padding: 2px;
	font-size: small;
	border: 1px solid var(--secondary);
	font-family: var(--samuraiFont);
}

.button {
	position: absolute;
	bottom: -0.4vw;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 1200px) {
	.location {
		font-size: xx-small;
	}
}
