.likeIcon {
	max-width: 2vw;
}

.wrapper {
	background-color: var(--background);
	margin-bottom: 3vw;
	position: relative;
	border-radius: 10px;
	padding: 15px;
}

.likeWrapper {
	position: absolute;
	right: 0.5vw;
	bottom: -1.5vw;
	background-color: var(--background);
	border-radius: 5px;
	padding: 2px;
	border: 1px solid var(--secondary);
	font-family: var(--samuraiFont);
}

.date {
	position: absolute;
	top: -1vw;
	background-color: var(--background);
	border-radius: 5px;
	padding: 2px;
	font-family: var(--samuraiFont);
	font-size: small;
	border: 1px solid var(--secondary);
}

.message{
	font-size: large;
}