.App {
	display: grid;
	max-width: 1920px;
	grid-template-rows: 70px 11fr 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
		'header header header'
		'menu-aside main aside'
		'footer footer footer';
	gap: 20px;
	margin: 0 auto;
}

.main {
	grid-area: main;
}