.App {
	display: grid;
	grid-template-rows: 70px 11fr 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
		'header header'
		'aside main'
		'footer footer';
	gap: 20px;
	margin: 0 auto;
}
.header {
	grid-area: header;
  background-color: var(--background);
  color: var(--primary);
  font-size:small;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aside {
	grid-area: aside;
	background-color: var(--background);
}
.main {
	grid-area: main;
}

.footer{
	grid-area: footer;
	background-color: var(--background);
  color: var(--primary);
}