:root {
	--primary: #55779d;
	--danger: #e64f30;
	--secondary: #f39845;
	--background: #e7cca1;
	--font: #2b201e;
	--white: #fff;
}

@font-face {
	font-family: 'Samurai';
	src: local('Samurai'), url('../src/assets/fonts/samurai.ttf');
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Samurai', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	color: var(--font);
	background-color: var(--primary);
}
