.avatar {
	max-width: 2vw;
	border-radius: 50%;
	border: 1px solid var(--white);
	box-shadow: 0 0 20px var(--secondary);
	margin-left: -1.7vw;
}

.message {
	padding-left: 0.7vw;
	font-size: x-small;
}

.date {
	position: absolute;
	right: -0.7vw;
	bottom: -0.4vw;
	background-color: var(--background);
	border-radius: 5px;
	padding: 2px;
	font-size: xx-small;
	border: 1px solid var(--secondary);
}
