.avatar {
	max-width: 2vw;
	border-radius: 50%;
	border: 1px solid var(--white);
	box-shadow: 0 0 20px var(--secondary);
	margin-left: -1.7vw;
}

.wrapper {
	align-items: center;
	position: relative;
	display: flex;
	background-color: var(--background);
	margin-bottom: 10px;
	border-radius: 5px;
	margin-left: 2vw;
}

.message {
	padding-left: 0.7vw;
	font-size: xx-small;
}

.date {
	position: absolute;
	right: -0.7vw;
	bottom: -0.5vw;
	background-color: var(--background);
	border-radius: 5px;
	padding: 2px;
	font-size: 5px;
	border: 1px solid var(--secondary);
}
